<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mainactivity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hot"
        android:label="SAM Hotel"
        android:roundIcon="@mipmap/hot"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainActivity"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CurrencyConverterApiActivity"
            android:exported="false" />
        <activity
            android:name=".FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".AdminRoomsActivity"
            android:exported="false" />
        <activity
            android:name=".ReceptionistProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ReceptionistsActivity"
            android:exported="false" />
        <activity
            android:name=".SignupReceptionistActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ReceptionistActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ReservedActivity"
            android:exported="false" />
        <activity
            android:name=".HotelActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SuiteRoomActivity"
            android:exported="false" />
        <activity
            android:name=".NormalRoomActivity"
            android:exported="false" />
        <activity
            android:name=".ReserveTypeActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerRoomsActivity"
            android:exported="false" />
        <activity
            android:name=".SignupCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>